/* .row {
  // margin: 0 -5px;
} */

.column {
  float: left;
  width: 25%;
  padding: 28px 0px 0px 0px;
  //padding: 28px 50px 0px 60px;
}
.list {
  padding-top: 5px;
  font-size: 25px;
  color: #ffffff;
  //font-weight: bold;
}
.card {
  border-radius: 25px;
  text-align: center;
  //background-color: #050553;
  background-color: rgba(83, 80, 80, 0.93);
  width: 312px;
  height: 171px;
  margin: auto;
}
.app {
  background-color: rgba(136, 154, 160, 0.178);
  width: 100%;
  //height: 600px;
  height: 601px;
  text-align: center;
  overflow: auto;
}

.botname {
  padding-top: 22%;
  font-size: 23px;
  color: #ffffff;
}
.headerdiv {
  background-color: #333;
  height: 40px;
}
