//wordcloud

.GraphData {
  float: left;
  padding-top: 4%;
}

/* .outer {
  height: 200;
} */
.TableHeader {
  text-align: center;
  background-color: #fbfdd3;
  color: black;
  border: 1px solid #ddd;
}

.TableData {
  border: 1px solid #ddd;
  text-align: center;
  width: 100px;
}

.TableDatawc {
  border: 1px solid #ddd;
  text-align: left;
  width: 100px;
}

.TableRow {
  border: 1px solid #ddd;
  text-align: left;
}

.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: #ffffff;
  //margin: 5% 0% 0% 18%;
  margin: 3% 0% 0% 6%;
  height: 540px;
  width: 1184px;
}

.display-block {
  //  text-align: center;
  display: block;
}

.Button {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #f5f5f0;
  border-color: #f5f5f0;
  font-size: 15px;
}

.Table3 {
  margin-left: 5%;
  margin-top: 6%;
  margin-right: 3%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  height: 423px;
  display: block;
  overflow: auto;
  float: left;
}
#twidth {
  width: 200px;
}

//pagination
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  margin-left: -12px;
}

.pagination > .active > a {
  background-color: #fbfdd3;
  border-color: #fbfdd3;
  color: black;
}
.pagination > li > a {
  border: 1px solid #fbfdd3;
  padding: 5px 5px;
  outline: none;
  cursor: pointer;
}

.pagination1 {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  padding-left: 179px;
}

.pagination1 > .active > a {
  background-color: #fbfdd3;
  border-color: #fbfdd3;
  color: black;
}
.pagination1 > li > a {
  border: 1px solid #fbfdd3;
  padding: 5px 5px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #fbfdd3;
  border-color: #fbfdd3;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: black;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

.MakeTableData {
  padding-left: 135px;
}

//pagination yash
.TableHeader1 {
  width: 201px;
  text-align: center;
  background-color: #fbfdd3;
  color: black;
  border: 1px solid #ddd;
}
.MakeTableData1 {
  padding-left: 0px;
}

.TableData3 {
  border: 1px solid #ddd;
  text-align: left;
  width: 1465px;
  padding-top: 2px;
  padding-bottom: 2px;
}
//used

.Table {
  margin-left: 8%;
  margin-top: 0%;
  margin-right: 3%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  height: 288px;
  display: block;
  // overflow: auto;
  float: left;
}

.TableRating {
  margin-left: 8%;
  margin-top: -40%;
  margin-right: 3%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  height: 288px;
  display: block;
  float: left;
}

.tabledefault {
  margin-left: -12%;
  margin-top: 0%;
  margin-right: 3%;
  margin-bottom: 0px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  height: 288px;
  display: block;
  float: left;
}
.tablesuccess {
  margin-left: -13%;
  /* margin-top: -20%;
  margin-right: 3%;
  margin-bottom: -16%; */
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  height: 288px;
  display: block;
  float: left;
}
.tableusers {
  margin-left: 8%;
  margin-left: 0%;
  margin-top: -23%;
  margin-right: 3%;
  margin-bottom: -39px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  height: 288px;
  display: block;
  float: left;
}
.tablecloud {
  margin-left: 2%;
  /*   margin-top: -26%;
  margin-right: 0%;
  margin-bottom: -16%; */
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  height: 288px;
  display: block;
  float: left;
}
.tableHeaderutterances {
  text-align: center;
  background-color: #fbfdd3;
  color: black;
  border: 1px solid #ddd;
  width: 223px;
}
.reset1 {
  padding-left: 305px;
  display: inline-block;
}
.resetbutton {
  // padding: 15px 32px;
  cursor: pointer;
  background-color: #d3dafa;
  &:hover {
    box-shadow: 5px 5px 5px #6d6c6c;
  }
  color: #020202b5;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  border: 2px solid #172734b5;
  font-weight: bold;
}
.modaltable {
  margin-top: -50px;
}
.description {
  display: inline-block;
  text-align: left;

  padding-left: 8px;
}
.failbutton {
  cursor: pointer;
  background-color: #d3dafa;

  color: #020202b5;
  border-radius: 10px;

  height: 30px;
  border: 2px solid #172734b5;
  font-weight: bold;
}
