/* .summary_container {
  background-color: #c0bdbd;
} */
.summary {
  width: 100%;
  overflow: auto;
}
img {
  float: left;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 5px;
  margin: 0 10px 10px 10px;
}
.circle {
  float: left;
  background: #f3f099;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 10px 0px 10px;
  border: 1px solid;
}
.data {
  padding-top: 33px;
  font-size: 28px;
}
.SummaryDescription {
  text-align: center;
}
.rectangle {
  //  border: solid 2px;
  float: left;
  //  box-shadow: 5px 10px 18px #888888;
  //margin: 0 10px 10px 0px;
  //margin: 0% 0.5% 0.5% 0%;
  // margin-top: 1px;
  margin-right: 13px;
  margin-bottom: 10px;
  text-align: center;
  //width: 300px;
  height: 200px;
  width: 32%;
  cursor: pointer;
  /*  &:hover {
    box-shadow: 5px 10px 18px #f3f099;
  } */
  &:hover {
    box-shadow: 5px 10px 18px #6d6c6c;
  }
}

.rectangle-left-margin {
  margin-left: 14px;
}

.container {
  // height: 683px;
  height: 715px;
  width: 100%;
  background-color: #e5e5e5;
  //border: solid 2px;
}

.SummaryBox {
  //padding-top: 10px;
  //padding-bottom: 10px;
  //background-color: rgb(226, 221, 221);
  background-color: #ffffff;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 7px;
}

.reportcomponent {
  padding-top: 10px;
  // padding-left: 5%;
}
.dashboard {
  //margin: 2px;
  background-color: #2b7ea0;
  //background-color: #333;
  height: 60px;
}
.tdsummary {
  padding-left: 6px;
}
.popup {
  border: solid 2px black;
  padding-top: 0px;
  padding-left: 0px;
}

.tablecomponents {
  margin-left: 0%;
}

.dashboardtitle {
  padding-top: 11px;
  padding-left: 12px;
  font-size: 20px;
  font-size: 30px;
  color: #ffffff;
  font-weight: lighter;
  display: inline-block;
}
.componentheader {
  //background-color: #5a5757;
  background-color: #e5e5e5;
  //background-color: #050553;
  height: 25px;
}
.componentfont {
  color: black;
  padding-top: 0px;
  padding-left: 12px;
  font-size: 24px;
  font-weight: lighter;
}
/* .componentfont {
  color: black;
  padding-top: 3px;
  font-size: 17px;
  font-weight: bold;
} */
.reports {
  height: 500px;
  //background-color: rgb(226, 221, 221);
  background-color: #e5e5e5;
}

.rect {
  border: solid 0.5px;
  width: 150px;
  height: 80px;
  text-align: center;
  background-color: #f4433626;
}
.rectholder {
  position: absolute;
  padding-left: 4%;
  display: inline-block;
}
.intentname {
  // margin-top: -9px;
  text-align: center;
  // font-size: 20px;
}
.desc {
  //padding-top: 7px;
  text-align: center;
}
.tdsummary2 {
  padding-left: 1%;
}
.count {
  padding-top: 19px;
  font-size: 28px;
}
.summary1 {
  display: inline-block;
}
.vr {
  border-left: 12px solid #e5e5e5;
  height: 151px;
  position: absolute;
  left: 61%;
  display: inline-block;
}
.css_green {
  background: #90ed7d;
}
.css_orange {
  background: #ffac33;
}
.css_blue {
  background: #d0e9fd;
}
.log {
  //display: inline-block;
  padding-top: 16px;
  padding-right: 12px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
  font-weight: lighter;
  float: right;
}
